{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "packages/feature-flag-plugin/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
        "assets": [
          "packages/feature-flag-plugin/package.json",
          "README.md"
        ]
      }
    ]
  ],
  "preset": "conventionalcommits",
  "tagFormat": "v${version}"
}
